@font-face {
  font-family: "maicons";
  src: url("../fonts/maicons.eot?c9nlkl");
  src: url("../fonts/maicons.eot?c9nlkl#iefix") format("embedded-opentype"),
    url("../fonts/maicons.ttf?c9nlkl") format("truetype"),
    url("../fonts/maicons.woff?c9nlkl") format("woff"),
    url("../fonts/maicons.svg?c9nlkl#maicons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mai-"],
[class*=" mai-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "maicons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mai-time:before {
  content: "\eb6c";
}
