/*[ RESTYLE TAG ]*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Muli !important;
}
body,
html {
  height: 100%;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
p {
  font-size: 16px;
  line-height: 1.7;
}
a:hover {
  text-decoration: none;
  color: #a64bf4;
}
ul,
li {
  margin: 0px;
  list-style-type: none;
}

/* input, textarea */
input {
  outline: none;
  border: none;
}
textarea {
  outline: none;
  border: none;
}
textarea:focus,
input:focus {
  border-color: transparent !important;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
input::-webkit-input-placeholder {
  color: #adadad;
}
input:-moz-placeholder {
  color: #adadad;
}
input::-moz-placeholder {
  color: #adadad;
}
input:-ms-input-placeholder {
  color: #adadad;
}
textarea::-webkit-input-placeholder {
  color: #adadad;
}
textarea:-moz-placeholder {
  color: #adadad;
}
textarea::-moz-placeholder {
  color: #adadad;
}
textarea:-ms-input-placeholder {
  color: #adadad;
}

/* button */
button {
  outline: none !important;
  border: none;
  background: transparent;
}
button:hover {
  cursor: pointer;
}
.input-submit {
  background: transparent;
}
.input-submit:hover {
  cursor: pointer;
}
iframe {
  border: none !important;
}

/*[ Utility ]*/
.txt11 {
  font-family: Poppins-Regular;
  font-size: 16px;
  line-height: 1.5;
  margin-top: -120px;
  color: #666666;
}
.txt1 {
  font-family: Poppins-Regular;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 25px;
  color: #666666;
}
.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}
.bg1 {
  background-color: #3b5998;
}
.bg2 {
  background-color: #1da1f2;
}
.bg3 {
  background-color: #ea4335;
}

/*[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}
.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrap-login10 {
  width: 600px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.wrap-login100 {
  width: 600px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.wrap-login101 {
  width: 600px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.wrap-login102 {
  width: 99%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.9;
}

/*[ Form ]*/
.login100-form {
  width: 100%;
}
.login100-form-title {
  display: block;
  margin-top: 55px;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

/*[ Input ]*/
.wrap-input100 {
  width: 100%;
  position: relative;
  margin-top: 30px;
  border-bottom: 2px solid #d9d9d9;
}
.label-input100 {
  font-family: Poppins-Regular;
  font-size: 17px;
  color: #333333;
  line-height: 1.5;
}
.input100 {
  font-family: Poppins-Medium;
  font-size: 14px;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 5px 0 0;
}
.prlb-55 {
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 55px;
  padding-top: 55px;
}
.img-pt {
  width: 220px;
  margin: auto;
  display: block;
}
.wrap-input101 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}
.label-input101 {
  font-family: Poppins-Regular;
  font-size: 17px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}
.input101 {
  font-family: Poppins-Medium;
  font-size: 14px;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 5px 0 0;
}
.input101:focus + .focus-input100::before {
  width: 100%;
}
.has-val.input101 + .focus-input100::before {
  width: 100%;
}
.input101:focus + .focus-input100::after {
  color: #a64bf4;
}
.has-val.input101 + .focus-input100::after {
  color: #a64bf4;
}

/* span */
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.focus-input100::after {
  content: attr(data-symbol);
  font-family: Material-Design-Iconic-Font;
  color: #adadad;
  font-size: 22px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}
.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #7f7f7f;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.input100:focus + .focus-input100::before {
  width: 100%;
}
.has-val.input100 + .focus-input100::before {
  width: 100%;
}
.input100:focus + .focus-input100::after {
  color: #a64bf4;
}
.has-val.input100 + .focus-input100::after {
  color: #a64bf4;
}

/*[ Button Form ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;

  box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}
.wrap-login101-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;

  box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}
.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(
    right,
    #00dbde,
    #fc00ff,
    #00dbde,
    #fc00ff
  );
  background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff !important;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}
.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

/*[ Alert validate ]*/
.error {
  width: 80%;
  background-color: #ffecec;
  padding: 10px 15px;
  margin: -20px auto -10px auto;
  border: 1px solid red;
  box-shadow: 1px 0px 3px red;
  text-align: center;
}
.validate-input {
  position: relative;
}
.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  bottom: calc((100% - 20px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  bottom: calc((100% - 20px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}
.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*[ Social item ]*/
.login100-social-item {
  font-size: 25px;
  color: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}
.login100-social-item:hover {
  color: #fff;
  background-color: #333333;
}

/* CSS 2 */

/*[ RESTYLE TAG ]*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  border-radius: 5px !important;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.btn {
  width: 330px;
  padding: 5px 30px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 0 80px;
  background: #525252;
  color: #fff;
}
.btn:hover {
  background: rgb(0, 0, 0);
  color: white;
}
.btn-face,
.btn-google,
.btn-twit {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: calc((100% - 20px) / 2);
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}
.btn-google::before,
.btn-face::before,
.btn-twit::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.btn-face {
  color: #fff;
  background-color: #3b5998;
}
.btn-face i {
  font-size: 30px;
  margin-right: 17px;
  padding-bottom: 3px;
}
.btn-google {
  color: #555555;
  background-color: #fff;
  margin-left: 20px;
}
.btn-google img {
  width: 30px;
  margin-right: 15px;
  padding-bottom: 3px;
}
.btn-twit {
  color: #fff;
  background-color: #00aced;
}
.btn-twit i {
  font-size: 30px;
  margin-right: 17px;
  padding-bottom: 3px;
}
.btn-face:hover:before,
.btn-google:hover:before,
.btn-twit:hover:before {
  opacity: 1;
}
.btn-face:hover,
.btn-google:hover,
.btn-twit:hover {
  color: #fff;
}
@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .btn-face,
  .btn-google,
  .btn-twit {
    width: 100%;
  }
}
.btn-lamasewa {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: -30px;
}
